body{
margin:0;
font-family:'Poppins',sans-serif;
background:linear-gradient(180deg,#021024,#052659,#021024);
color:white;
}

/* HERO */

.hero{
min-height:80vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:80px 20px;
background:linear-gradient(180deg,#021024,#052659);
}

.hero h1{
font-size:55px;
margin-bottom:10px;
}

.hero span{
color:#7DA0CA;
}

.tagline{
font-size:18px;
color:#C1E8FF;
margin-bottom:20px;
}

.descripcion{
max-width:500px;
margin:auto;
line-height:1.6;
color:#b9d6f5;
}

/* SECCIONES */

section{
padding:80px 10%;
}

h2{
color:#7DA0CA;
margin-bottom:30px;
font-size:28px;
}

/* CARDS */

.cards{
display:flex;
flex-wrap:wrap;
gap:25px;
}

.card{
flex:1 1 220px;
padding:25px;
border-radius:15px;
text-align:center;

background:rgba(255,255,255,0.05);

backdrop-filter: blur(10px);

box-shadow:0 10px 30px rgba(0,0,0,0.5);

transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
background:rgba(255,255,255,0.1);
}

/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#010409;
color:#aaa;
}